
#body-login .error-broken-link{
 text-align: start;color:#fff;
}

#body-login .error-broken-link ul{
	margin-block-start: 10px;
	margin-inline-end: 0;
	margin-block-end: 10px;
	margin-inline-start: 0;
}

#body-login .error-broken-link ul li{
	list-style: disc;list-style-position:inside;cursor:default;
}
